/* fonts */

@font-face {
  font-family: 'Nekst-Regular';
  src: url('./fonts/Nekst-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nekst-Regular';
  src: url('./fonts/Nekst-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Nekst-Regular';
  src: url('./fonts/Nekst-Regular.woff2') format('woff2');
}

/* general settings */

.App {
  text-align: center;
  background-color: #1e1f28;
  color: white;
  min-height: 100vh;
}

.MuiPopover-paper {
  box-shadow: none !important;
  background-color: #1e1f28 !important;
  margin: -41px 10px 0 -12px !important;
}

a {
  text-decoration: none;
  color: white;
}

* {
  box-sizing: border-box;
  font-family: Nekst-Regular;
}

/* atom classes */

.w-100 {
  width: 100%;
}

.m-0-auto {
  margin: 0 auto;
}

:root {
  --green-main: #07f2b499;
}

.page-404 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  width: 100%;
  align-items: center;
  align-content: center;
}

.auth-page {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.auth-page--header {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 30px 15vw;
}

.auth-page--tab-links {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ffffff26;
}

.login-form--remember-me-and-forgot-pass-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.tab-links--register-wrapper,
.tab-links--login-wrapper {
  width: 100%;
  padding: 16px 0;
}

.close-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
  background: none;
}

.close-btn:hover {
  cursor: pointer;
}

.forgot-password-head-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0 30px 0;
}
